USE [master]
GO
/****** Object:  Database [Facebook]    Script Date: 5/13/2018 3:56:09 PM ******/
CREATE DATABASE [Facebook] ON  PRIMARY 
( NAME = N'Facebook', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Facebook.mdf' , SIZE = 72832KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Facebook_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Facebook_0.ldf' , SIZE = 1219712KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Facebook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Facebook]
GO
/****** Object:  UserDefinedFunction [dbo].[GetInfoDiaChi]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[GetInfoDiaChi] 
(   
    @strDiaChi_goc nvarchar(max) ,
	@strxxx varchar(5)
)
RETURNS NVARCHAR(max)
AS
BEGIN
    DECLARE @RESULT_STRING nvarchar(max);
	DECLARE @RESULT_Tinh nvarchar(max);
	DECLARE @RESULT_Huyen nvarchar(max);
	DECLARE @RESULT_Xa nvarchar(max);

    DECLARE @vtTinh int
	DECLARE @vtXa int
	DECLARE @vtHuyen int

	DECLARE @strDiaChi nvarchar(max);
	SET @strDiaChi = REPLACE(@strDiaChi_goc,'-',',')



	DECLARE @FindChar VARCHAR(1) = ','

	IF(@strxxx ='tinh')
	begin
		if CHARINDEX(@FindChar,REVERSE(@strDiaChi)) >0
		begin
			set @RESULT_STRING  = RIGHT(@strDiaChi, CHARINDEX(@FindChar,REVERSE(@strDiaChi))-1) 
		end
	end
	if(@strxxx='huyen')
	begin
		
		Set @RESULT_Tinh = LEFT(@strDiaChi, LEN(@strDiaChi) - CHARINDEX(@FindChar,REVERSE(@strDiaChi)))
		if CHARINDEX(@FindChar,REVERSE(@RESULT_Tinh)) >0
		begin
			set @RESULT_STRING  = RIGHT(@RESULT_Tinh, CHARINDEX(@FindChar,REVERSE(@RESULT_Tinh))-1) 
		end
		else
		begin
		set @RESULT_STRING =@RESULT_Tinh
		end
	end

	if(@strxxx ='xa')
	begin
		Set @RESULT_Tinh = LEFT(@strDiaChi, LEN(@strDiaChi) - CHARINDEX(@FindChar,REVERSE(@strDiaChi)))
		if CHARINDEX(@FindChar,REVERSE(@RESULT_Tinh))>0
		begin
			set @RESULT_Huyen= LEFT(@RESULT_Tinh, LEN(@RESULT_Tinh) - CHARINDEX(@FindChar,REVERSE(@RESULT_Tinh)))
			if CHARINDEX(@FindChar,REVERSE(@RESULT_Huyen))>0
			begin
				set @RESULT_STRING  = RIGHT(@RESULT_Huyen, CHARINDEX(@FindChar,REVERSE(@RESULT_Huyen))-1)
			end
			else
			begin
				set @RESULT_STRING =@RESULT_Huyen
			end 
		end
	end
	RETURN @RESULT_STRING

END

GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[sysLimitCallApi] [int] NULL,
	[sysTimeSleep] [int] NULL,
	[sysLimitFriend] [int] NULL CONSTRAINT [DF_CauHinh_sysLimitFriend]  DEFAULT ((700)),
	[sysLimitBaiViet] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ProductID] [int] NOT NULL,
	[CustomerName] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dau_so]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dau_so](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhamang] [nvarchar](50) NULL,
	[parentId] [int] NULL,
	[dauso] [nvarchar](5) NULL,
	[lenght] [int] NULL,
	[orderid] [int] NULL,
	[createdate] [datetime] NULL CONSTRAINT [DF_dau_so_createdate]  DEFAULT (getdate()),
 CONSTRAINT [PK_dau_so] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[exportFbFriend]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exportFbFriend](
	[uid_main] [nvarchar](30) NULL,
	[name_main] [nvarchar](100) NULL,
	[FriendUid] [nvarchar](30) NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[name_format] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[mobile_phone] [nchar](15) NULL,
	[birthday] [nchar](10) NULL,
	[email] [nvarchar](50) NULL,
	[gender] [nchar](10) NULL,
	[location] [xml] NULL,
	[age_range] [xml] NULL,
	[cover] [xml] NULL,
	[devices] [xml] NULL,
	[education] [xml] NULL,
	[favorite_athletes] [xml] NULL,
	[favorite_teams] [xml] NULL,
	[hometown] [xml] NULL,
	[install_type] [nvarchar](50) NULL,
	[installed] [bit] NULL,
	[interested_in] [xml] NULL,
	[is_verified] [bit] NULL,
	[languages] [xml] NULL,
	[link] [nvarchar](max) NULL,
	[locale] [nvarchar](300) NULL,
	[political] [nvarchar](max) NULL,
	[quotes] [nvarchar](max) NULL,
	[relationship_status] [nvarchar](50) NULL,
	[religion] [nvarchar](450) NULL,
	[sports] [xml] NULL,
	[third_party_id] [nvarchar](150) NULL,
	[website] [nvarchar](max) NULL,
	[work] [xml] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FbAccount]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FbAccount](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FbAccount_id]  DEFAULT (newid()),
	[account] [varchar](50) NULL,
	[password] [nvarchar](100) NULL,
	[token] [nvarchar](400) NULL,
	[IsAct] [bit] NULL,
	[createdate] [datetime] NULL CONSTRAINT [DF_FbAccount_createdate]  DEFAULT (getdate()),
 CONSTRAINT [PK_FbAccount] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FbComments]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FbComments](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FbComments_id]  DEFAULT (newid()),
	[uid] [nvarchar](50) NULL,
	[feedid] [nvarchar](50) NULL,
	[commendId] [nvarchar](50) NULL,
	[message] [nvarchar](max) NULL,
	[from] [xml] NULL,
	[created_time] [nvarchar](50) NULL,
	[created_date] [datetime] NULL CONSTRAINT [DF_FbComments_created_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_FbComments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FbFeed]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FbFeed](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FbFeed_id]  DEFAULT (newid()),
	[UID] [nvarchar](30) NULL,
	[feedid] [nvarchar](60) NULL,
	[from] [xml] NULL,
	[message] [nvarchar](max) NULL,
	[message_tags] [xml] NULL,
	[with_tags] [xml] NULL,
	[story] [nvarchar](250) NULL,
	[story_tags] [xml] NULL,
	[picture] [nvarchar](500) NULL,
	[link] [nvarchar](500) NULL,
	[name] [nvarchar](250) NULL,
	[description] [nvarchar](max) NULL,
	[actions] [xml] NULL,
	[privacy] [xml] NULL,
	[type] [nvarchar](50) NULL,
	[status_type] [nvarchar](50) NULL,
	[object_id] [nvarchar](50) NULL,
	[created_time] [nvarchar](50) NULL,
	[update_time] [nvarchar](50) NULL,
	[is_hidden] [bit] NULL,
	[is_expired] [bit] NULL,
	[likes] [int] NULL,
	[comments] [int] NULL,
	[create_date] [datetime] NULL CONSTRAINT [DF_FbFeed_create_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_FbFeed] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FbFollow]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FbFollow](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FbFollow_id]  DEFAULT (newid()),
	[UID] [nvarchar](30) NULL,
	[FollowUid] [nvarchar](30) NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[name_format] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[mobile_phone] [nchar](15) NULL,
	[birthday] [nchar](10) NULL,
	[email] [nvarchar](50) NULL,
	[gender] [nchar](10) NULL,
	[location] [xml] NULL,
	[age_range] [xml] NULL,
	[cover] [xml] NULL,
	[devices] [xml] NULL,
	[education] [xml] NULL,
	[favorite_athletes] [xml] NULL,
	[favorite_teams] [xml] NULL,
	[hometown] [xml] NULL,
	[install_type] [nvarchar](50) NULL,
	[installed] [bit] NULL,
	[interested_in] [xml] NULL,
	[is_verified] [bit] NULL,
	[languages] [xml] NULL,
	[link] [nvarchar](max) NULL,
	[locale] [nvarchar](300) NULL,
	[political] [nvarchar](max) NULL,
	[quotes] [nvarchar](max) NULL,
	[relationship_status] [nvarchar](50) NULL,
	[religion] [nvarchar](450) NULL,
	[sports] [xml] NULL,
	[third_party_id] [nvarchar](150) NULL,
	[website] [nvarchar](max) NULL,
	[work] [xml] NULL,
	[create_date] [datetime] NULL CONSTRAINT [DF_FbFollow_create_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_FbFollow] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FbFriend]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FbFriend](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FbFriend_id]  DEFAULT (newid()),
	[UID] [nvarchar](30) NULL,
	[FriendUid] [nvarchar](30) NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[name_format] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[mobile_phone] [nchar](15) NULL,
	[birthday] [nchar](10) NULL,
	[email] [nvarchar](50) NULL,
	[gender] [nchar](10) NULL,
	[location] [xml] NULL,
	[age_range] [xml] NULL,
	[cover] [xml] NULL,
	[devices] [xml] NULL,
	[education] [xml] NULL,
	[favorite_athletes] [xml] NULL,
	[favorite_teams] [xml] NULL,
	[hometown] [xml] NULL,
	[install_type] [nvarchar](50) NULL,
	[installed] [bit] NULL,
	[interested_in] [xml] NULL,
	[is_verified] [bit] NULL,
	[languages] [xml] NULL,
	[link] [nvarchar](max) NULL,
	[locale] [nvarchar](300) NULL,
	[political] [nvarchar](max) NULL,
	[quotes] [nvarchar](max) NULL,
	[relationship_status] [nvarchar](50) NULL,
	[religion] [nvarchar](450) NULL,
	[sports] [xml] NULL,
	[third_party_id] [nvarchar](150) NULL,
	[website] [nvarchar](max) NULL,
	[work] [xml] NULL,
	[create_date] [datetime] NULL CONSTRAINT [DF_FbFriend_create_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_FbFriend] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FbGUI]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FbGUI](
	[id] [uniqueidentifier] NOT NULL,
	[UID] [nvarchar](30) NULL,
	[name] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[email] [nvarchar](50) NULL,
	[icon] [nvarchar](400) NULL,
	[member_request_count] [int] NULL,
	[owner] [xml] NULL,
	[privacy] [nvarchar](50) NULL,
	[updated_time] [nvarchar](50) NULL,
	[create_date] [datetime] NULL,
 CONSTRAINT [PK_FbGUI] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FbLike]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FbLike](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FbLike_id]  DEFAULT (newid()),
	[uid] [nvarchar](30) NULL,
	[feedid] [nvarchar](60) NULL,
	[likeid] [nvarchar](30) NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[username] [nvarchar](150) NULL,
	[gender] [nvarchar](50) NULL,
	[link] [nvarchar](200) NULL,
	[location] [xml] NULL,
	[locale] [nvarchar](50) NULL,
	[updated_time] [nvarchar](50) NULL,
	[education] [xml] NULL,
	[favorite_athletes] [xml] NULL,
	[favorite_teams] [xml] NULL,
	[relationship_status] [nvarchar](50) NULL,
	[work] [xml] NULL,
	[can_post] [bit] NULL,
	[category] [nvarchar](150) NULL,
	[category_list] [xml] NULL,
	[cover] [xml] NULL,
	[has_added_app] [bit] NULL,
	[is_published] [bit] NULL,
	[likes] [int] NULL,
	[name] [nvarchar](150) NULL,
	[talking_about_count] [int] NULL,
	[were_here_count] [int] NULL,
	[create_date] [datetime] NULL CONSTRAINT [DF_FbLike_create_date_1]  DEFAULT (getdate()),
 CONSTRAINT [PK_FbLike] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FbLog]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FbLog](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FbLogCallApi_id]  DEFAULT (newid()),
	[account] [varchar](100) NULL,
	[command] [nvarchar](max) NULL,
	[create_date] [date] NULL CONSTRAINT [DF_FbLogCallApi_create_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_FbLogCallApi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FbPage]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FbPage](
	[id] [uniqueidentifier] NOT NULL,
	[UID] [nvarchar](30) NULL,
	[name] [nvarchar](100) NULL,
	[app_links] [xml] NULL,
	[about] [nvarchar](250) NULL,
	[createdate] [datetime] NULL,
 CONSTRAINT [PK_FbPage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FbUID]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FbUID](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_FbUID_id]  DEFAULT (newid()),
	[UID] [nvarchar](30) NULL,
	[name] [nvarchar](100) NULL,
	[age_ranges] [xml] NULL,
	[educations] [xml] NULL,
	[location] [xml] NULL,
	[mobile_phone] [varchar](50) NULL,
	[birthday] [nchar](10) NULL,
	[gender] [nchar](10) NULL,
	[locale] [varchar](50) NULL,
	[relationship_status] [varchar](50) NULL,
	[currency] [varchar](150) NULL,
	[email] [varchar](150) NULL,
	[cover] [xml] NULL,
	[devices] [xml] NULL,
	[work] [xml] NULL,
	[create_date] [datetime] NULL CONSTRAINT [DF_FbUID_create_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_FbUID] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhomUID]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomUID](
	[id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_Nhom_id]  DEFAULT (newid()),
	[ParentId] [uniqueidentifier] NULL,
	[Name] [nvarchar](200) NULL,
	[UID] [nvarchar](30) NULL,
	[URD] [nvarchar](200) NULL,
	[Note] [nvarchar](50) NULL,
	[IsActi] [bit] NULL,
	[IsLoai] [int] NULL,
	[OrderID] [int] NULL,
	[CreateDate] [datetime] NULL CONSTRAINT [DF_DmNhom_CreateDate]  DEFAULT (getdate()),
 CONSTRAINT [PK_Nhom] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Regexs]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regexs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[RegexName] [nvarchar](100) NULL,
	[Regex] [nvarchar](800) NULL,
	[Example] [nvarchar](500) NULL,
	[OrderID] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[FbGUI] ADD  CONSTRAINT [DF_FbGUI_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[FbGUI] ADD  CONSTRAINT [DF_FbGUI_create_date]  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[FbPage] ADD  CONSTRAINT [DF_FbPage_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[FbPage] ADD  CONSTRAINT [DF_FbPage_createdate]  DEFAULT (getdate()) FOR [createdate]
GO
/****** Object:  StoredProcedure [dbo].[spChuanHoa]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
--[spExportHoSoCongTy] 
CREATE PROCEDURE [dbo].[spChuanHoa]
	@isKyTu int
AS
BEGIN
	if(@isKyTu=1) 
	begin
	update FbComments 	set message= REPLACE(REPLACE(message, CHAR(13), CHAR(32)), CHAR(10), CHAR(32))
	update FbFeed	
	set message= REPLACE(REPLACE(message, CHAR(13), CHAR(32)), CHAR(10), CHAR(32)),
		story= REPLACE(REPLACE(story, CHAR(13), CHAR(32)), CHAR(10), CHAR(32)),
		name= REPLACE(REPLACE(name, CHAR(13), CHAR(32)), CHAR(10), CHAR(32)),
		description= REPLACE(REPLACE(description, CHAR(13), CHAR(32)), CHAR(10), CHAR(32))
	end
end





GO
/****** Object:  StoredProcedure [dbo].[spDelDmGroupUIDAndInfo]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDelDmGroupUIDAndInfo]
@Id uniqueidentifier
AS
BEGIN
	DECLARE @Uid varchar(8000);
	/*dọn dep dữ liệu dm_hscty*/

	select @Uid=UID from NhomUID where id=@Id

	delete from FbFriend where UID=@Uid
	delete from FbComments where uid=@Uid
	delete from FbLike where uid =@Uid
	delete from FbPage where UID=@Uid
	delete from FbGUI where UID=@Uid
	delete from FbFeed where UID=@Uid
	delete from FbGUI where UID=@Uid
	delete from FbFollow where UID=@Uid

	delete from NhomUID where id=@Id

end





GO
/****** Object:  StoredProcedure [dbo].[spDelDmGroupUIDErr]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDelDmGroupUIDErr]
@ParentId uniqueidentifier
AS
BEGIN
	/*dọn dep dữ liệu dm_hscty*/
	
	delete from NhomUID 
	where ParentId=@ParentId and (UID='' or UID IS NULL)

end






GO
/****** Object:  StoredProcedure [dbo].[spDelInfo]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDelInfo]
@Id uniqueidentifier
AS
BEGIN
	DECLARE @Uid varchar(8000);
	/*dọn dep dữ liệu dm_hscty*/

	select @Uid=UID from NhomUID where id=@Id

	delete from FbFriend where UID=@Uid
	delete from FbComments where uid=@Uid
	delete from FbLike where uid =@Uid
	delete from FbPage where UID=@Uid
	delete from FbGUI where UID=@Uid
	delete from FbFeed where UID=@Uid
	delete from FbGUI where UID=@Uid
	delete from FbFollow where UID=@Uid
	

end






GO
/****** Object:  StoredProcedure [dbo].[spExportComment]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spExportComment]
	@uid varchar(30) = null
AS
BEGIN
DECLARE @NAMES NVARCHAR(max)
	;WITH cte AS(
	select uid,name from FbUID
	union 
	select uid,name from FbGUI
	union
	select uid,name from FbPage
	)
	SELECT * into #fbUID  FROM cte
	WHERE (UID = @uid or @uid is null)

	
	


	select fee.UID,a.name as Nameuid, fee.feedid, fee.[from], fee.message, fee.message_tags, fee.with_tags, fee.story, fee.story_tags, 
	fee.picture, fee.link, fee.name, fee.description, fee.actions, fee.privacy, fee.type, fee.status_type, fee.object_id, fee.created_time, 
	fee.update_time, fee.is_hidden, fee.is_expired, fee.likes, fee.comments,
	TabFrom.ColFrom.value('(id[1])[1]', 'nvarchar(20)') as Uid_Comment,
	TabFrom.ColFrom.value('(name[1])[1]', 'nvarchar(200)') as Name_Comment,
	b.message as message_comment,b.created_time as thoigian_comment
	from #fbUID a inner join FbFeed fee on a.UID= fee.UID
				  inner join FbComments b on fee.feedid=b.feedid and b.uid=a.UID
		 OUTER  APPLY b.[from].nodes('from') TabFrom(ColFrom)
		

			

end





GO
/****** Object:  StoredProcedure [dbo].[spExportFeed_bk]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spExportFeed_bk]
	@uid varchar(30) = null
AS
BEGIN
DECLARE @NAMES NVARCHAR(max)
--select * from FbFeed

		/*ham này này chỉ lấy one (lưu code)*/
		--select ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID ,	feedid,
		--TabWith.ColWith.value('(with_tags_data[1]/name)[1]', 'nvarchar(200)') as name --into #temp1
		--from FbFeed fr
		--CROSS  APPLY fr.with_tags.nodes('with_tags/data') TabWith(ColWith) 

		select ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID ,	feedid,
		TabWith.ColWith.value('(name)[1]', 'nvarchar(200)') as name  into #temp1
		from FbFeed fr
			OUTER  APPLY fr.with_tags.nodes('with_tags/data/with_tags_data') TabWith(ColWith) 
		order by feedid

		--select * from #temp1
		--drop table #temp1
		SELECT DISTINCT c1.uid, c1.feedid, 
		STUFF(( SELECT  '; uid=' +c2.UID +' - '+ c2.name
                    FROM    #temp1 c2
                    WHERE   c1.feedid = c2.feedid and
							c1.UID= c2.UID
                          
                  FOR
                    XML PATH('')
                  ), 1, 1, '') AS listWith_Tags into #with_tags_data
		FROM #temp1 c1
		drop table #temp1

		--select * from #with_tags_data
		select fee.uid as uid_main, fee.feedid,
		TabWith.ColWith.value('(id[1])[1]', 'nvarchar(20)') as Uid_NguoiVietBai,
		TabWith.ColWith.value('(name[1])[1]', 'nvarchar(200)') as Name_NguoiVietBai,
		fee.message as NoiDungBaiViet, listWith_Tags as TagsWith,
		[picture],[link],[name],[description],[status_type],[object_id],[update_time],[likes],[comments] into #FbFeed
		from FbFeed as fee inner join #with_tags_data tags on fee.UID= tags.UID and fee.feedid= tags.feedid
			OUTER  APPLY fee.[from].nodes('from') TabWith(ColWith)
		
		--select * from #FbFeed

			SELECT DISTINCT c1.uid, c1.feedid, 
		STUFF(( SELECT  '; uid=' +c2.UID +' - '+ c2.name
                    FROM    FbLike c2
                    WHERE   c1.feedid = c2.feedid and
							c1.UID= c2.UID
                          
                  FOR
                    XML PATH('')
                  ), 1, 1, '') AS listLike into #FbLike
		FROM FbLike c1 inner join #FbFeed fee on c1.feedid= fee.feedid

		select fee.*,lik.listLike,comm.message as messagecomment,
		Tabfrom.Colfrom.value('(id[1])[1]', 'nvarchar(20)') as uid_comment,
		Tabfrom.Colfrom.value('(name[1])[1]', 'nvarchar(200)') as name_comment,
		comm.created_time as thoigian_comment
		from #FbFeed fee inner join #FbLike lik on fee.feedid=lik.feedid and fee.uid_main=lik.uid
						 inner join FbComments comm on lik.feedid=comm.feedid and lik.uid= comm.uid
						 OUTER  APPLY comm.[from].nodes('from') Tabfrom(Colfrom)


end





GO
/****** Object:  StoredProcedure [dbo].[spExportFollow]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spExportFollow]
	@uid varchar(30) = null
AS
BEGIN
		select UID, FollowUid, first_name, last_name, name_format, name, mobile_phone, birthday, email, gender, location, age_range, cover, devices, education, favorite_athletes, favorite_teams, hometown, install_type, installed, interested_in, is_verified, languages, link, locale, political, quotes, relationship_status, religion, sports, third_party_id, website, work
		from FbFollow
		where UID=@uid
end





GO
/****** Object:  StoredProcedure [dbo].[spExportFollow_bk]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spExportFollow_bk]
	@uid varchar(30) = null
AS
BEGIN
		/*******************location*****************************/
		select ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID ,	FollowUid,
		TabLoca.ColLoca.value('name[1]', 'nvarchar(200)') as name into #temp1
		from FbFollow fo
		CROSS  APPLY fo.location.nodes('location') TabLoca(ColLoca) 

		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY [UID], FollowUid ORDER BY stt DESC) AS rn
					 FROM #temp1
					)
		SELECT * into #location FROM cte WHERE rn = 1
		drop table #temp1
		--drop table #location

		

		/**************************devices********************************/	
		select ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,FollowUid ,
		TabDevice.ColDevice.value('os[1]', 'nvarchar(80)') as os,
		TabDevice.ColDevice.value('hardware[1]', 'nvarchar(80)') as hardware into #temp2
		from FbFollow fo
		CROSS  APPLY fo.devices.nodes('ArrayOfDevices/devices') TabDevice(ColDevice)--Thiết bị 

		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,FollowUid ORDER BY stt DESC) AS rn
					 FROM #temp2
					)
		SELECT * into #devices FROM cte WHERE rn = 1
		drop table #temp2

		/**************************education**********************************/
		select  ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,
		FollowUid ,
		TabEdu.ColEdu.value('type[1]', 'nvarchar(200)') as type,
		TabEdu.ColEdu.value('(school[1]/name)[1]', 'nvarchar(200)') as name into #temp3
	from FbFollow fo
		CROSS  APPLY  fo.education.nodes('ArrayOfEducation/education') TabEdu(ColEdu) --Hoc Vấn
		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,FollowUid ORDER BY stt DESC) AS rn
					 FROM #temp3
					)
		SELECT * into #education FROM cte WHERE rn = 1
		drop table #temp3
		--drop table #temp3
		--select * from FbFollow
		
		/************************favorite_athletes*********************************/
		select  ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,
		FollowUid ,
		TabFaAthletes.ColFaAthletes.value('name[1]', 'nvarchar(200)') as name into #temp4
		from FbFollow fr
		CROSS  APPLY fr.favorite_athletes.nodes('ArrayOfFavorite_athletes/favorite_athletes') TabFaAthletes(ColFaAthletes) -- Vận động viên yêu thích
		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,FollowUid ORDER BY stt DESC) AS rn
					 FROM #temp4
					)
		SELECT * into #favorite_athletes FROM cte WHERE rn = 1
		drop table #temp4
		--drop table #favorite_athletes
		/******************************#favorite_teams*******************************************/
		select  ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,FollowUid ,
		TabFavTeam.ColFavTeam.value('name[1]', 'nvarchar(200)') as name into #temp5
		from FbFollow fr
		CROSS  APPLY fr.favorite_teams.nodes('ArrayOfFavorite_teams/favorite_teams') TabFavTeam(ColFavTeam) -- Team yêu thích
	;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,FollowUid ORDER BY stt DESC) AS rn
					 FROM #temp5
					)
		SELECT * into #favorite_teams FROM cte WHERE rn = 1
		drop table #temp5
		/**********************************work**************************************************/
	select  ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,FollowUid ,
		Tabwork.Colwork.value('start_date[1]', 'nvarchar(20)') as start_date,
		TabWork.ColWork.value('(employer[1]/name)[1]', 'nvarchar(200)') as name into #temp6
	from FbFollow fr
		OUTER  APPLY fr.work.nodes('ArrayOfWork/work') Tabwork(Colwork) -- Team yêu thích
		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,FollowUid ORDER BY stt DESC) AS rn
					 FROM #temp6
					)
		SELECT * into #work FROM cte WHERE rn = 1
		drop table #temp6
	
		/*********************************************************************/

	select  fr.UID, fr.FollowUid , fr.first_name,fr.last_name , fr.name , fr.mobile_phone ,fr.birthday , fr.email , fr.gender ,
		lo.name as location,
		fr.age_range.value('(/age_range/min)[1]', 'nvarchar(2)') age_max,
		fr.hometown.value('(/Hometown/name)[1]', 'nvarchar(100)') Hometown,
		fr.interested_in.value('(/ArrayOfString)[1]', 'nvarchar(100)') interested_in, --quan tâm 
		fr.is_verified,-- đã được xác minh
		dev.hardware,dev.os,
		ed.[type] as Bac_He,ed.[name] as Ten_Truong,fath.name as ThanTuong,
		teams.name as Nhom_ThanTuong,
		link, locale, political, quotes, relationship_status, religion,  third_party_id, website
	from FbFollow fr left join #location lo on  fr.FollowUid= lo.FollowUid and fr.UID= lo.UID
					 left join #devices dev on  fr.FollowUid=dev.FollowUid and fr.UID= lo.UID
					 left join #education ed on fr.FollowUid=ed.FollowUid and fr.UID= ed.UID
					 left join #favorite_athletes fath on fr.FollowUid=fath.FollowUid and fr.UID= fath.UID
				     left join #favorite_teams teams on fr.FollowUid=teams.FollowUid and fr.UID= teams.UID
					
--select * from FbFollow

end





GO
/****** Object:  StoredProcedure [dbo].[spExportFriend]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[spExportFriend]
	@uid varchar(30) = null,
	@databasename varchar(50),
	@path varchar(300)
AS
BEGIN
		
	;WITH cte AS(
	select uid,name from FbUID
	union 
	select uid,name from FbGUI
	union
	select uid,name from FbPage
	)
	SELECT * into #fbUID  FROM cte
	WHERE (UID = @uid or @uid is null)

	IF OBJECT_ID('dbo.exportFbFriend', 'U') IS NOT NULL 
	DROP TABLE dbo.exportFbFriend; 


	select  b.UID as uid_main,b.name as name_main, FriendUid, first_name, last_name, name_format, a.name, mobile_phone, birthday, email, gender, location, age_range, cover, devices, education, favorite_athletes, favorite_teams, hometown, install_type, installed, interested_in, is_verified, languages, link, locale, political, quotes, relationship_status, religion, sports, third_party_id, website, work
	into exportFbFriend 
	from FbFriend a inner join #fbUID b on a.UID=b.UID
	--select * from exportFbFriend
	DECLARE @strCommand varchar(100);
	set @strCommand ='select top 1 * from '+@databasename+ '.dbo.exportFbFriend order by FriendUid';

	DECLARE @sql varchar(8000);
	SELECT @sql = 'bcp "'+@strCommand+'" queryout "'+@path  + '" -T -w' + @@SERVERNAME 

	print @sql
	exec master..xp_cmdshell @sql;	

	

end





GO
/****** Object:  StoredProcedure [dbo].[spExportFriend_bk]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spExportFriend_bk]
	@uid varchar(30) = null
AS
BEGIN
		/*******************location*****************************/
		select ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID ,	[FriendUid],
		TabLoca.ColLoca.value('name[1]', 'nvarchar(200)') as name into #temp1
		from FbFriend fr
		CROSS  APPLY fr.location.nodes('location') TabLoca(ColLoca) 

		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY [UID], [FriendUid] ORDER BY stt DESC) AS rn
					 FROM #temp1
					)
		SELECT * into #location FROM cte WHERE rn = 1
		drop table #temp1
		--drop table #location

		

		/**************************devices********************************/	
		select ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,[FriendUid] ,
		TabDevice.ColDevice.value('os[1]', 'nvarchar(80)') as os,
		TabDevice.ColDevice.value('hardware[1]', 'nvarchar(80)') as hardware into #temp2
		from FbFriend fr
		CROSS  APPLY fr.devices.nodes('ArrayOfDevices/devices') TabDevice(ColDevice)--Thiết bị 

		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,[FriendUid] ORDER BY stt DESC) AS rn
					 FROM #temp2
					)
		SELECT * into #devices FROM cte WHERE rn = 1
		drop table #temp2

		/**************************education**********************************/
		select  ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,
		[FriendUid] ,
		TabEdu.ColEdu.value('type[1]', 'nvarchar(200)') as type,
		TabEdu.ColEdu.value('(school[1]/name)[1]', 'nvarchar(200)') as name into #temp3
	from FbFriend fr
		CROSS  APPLY  fr.education.nodes('ArrayOfEducation/education') TabEdu(ColEdu) --Hoc Vấn
		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,[FriendUid] ORDER BY stt DESC) AS rn
					 FROM #temp3
					)
		SELECT * into #education FROM cte WHERE rn = 1
		drop table #temp3
		--drop table #education

		
		/************************favorite_athletes*********************************/
		select  ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,
		[FriendUid] ,
		TabFaAthletes.ColFaAthletes.value('name[1]', 'nvarchar(200)') as name into #temp4
		from FbFriend fr
		CROSS  APPLY fr.favorite_athletes.nodes('ArrayOfFavorite_athletes/favorite_athletes') TabFaAthletes(ColFaAthletes) -- Vận động viên yêu thích
		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,[FriendUid] ORDER BY stt DESC) AS rn
					 FROM #temp4
					)
		SELECT * into #favorite_athletes FROM cte WHERE rn = 1
		drop table #temp4
		--drop table #favorite_athletes
		/******************************#favorite_teams*******************************************/
		select  ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,[FriendUid] ,
		TabFavTeam.ColFavTeam.value('name[1]', 'nvarchar(200)') as name into #temp5
		from FbFriend fr
		CROSS  APPLY fr.favorite_teams.nodes('ArrayOfFavorite_teams/favorite_teams') TabFavTeam(ColFavTeam) -- Team yêu thích
	;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,[FriendUid] ORDER BY stt DESC) AS rn
					 FROM #temp5
					)
		SELECT * into #favorite_teams FROM cte WHERE rn = 1
		drop table #temp5
		/**********************************work**************************************************/
	select  ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,[FriendUid] ,
		Tabwork.Colwork.value('start_date[1]', 'nvarchar(20)') as start_date,
		TabWork.ColWork.value('(employer[1]/name)[1]', 'nvarchar(200)') as name into #temp6
	from FbFriend fr
		OUTER  APPLY fr.work.nodes('ArrayOfWork/work') Tabwork(Colwork) -- Team yêu thích
		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,[FriendUid] ORDER BY stt DESC) AS rn
					 FROM #temp6
					)
		SELECT * into #work FROM cte WHERE rn = 1
		drop table #temp6

		
		/**********************************sports**************************************************/
		select  ROW_NUMBER() OVER(ORDER BY name ASC) AS stt,UID,[FriendUid] ,
		Tabsports.Colsports.value('name[1]', 'nvarchar(20)') as name into #temp7
	from FbFriend fr
		OUTER  APPLY fr.sports.nodes('ArrayOfSports/sports') Tabsports(Colsports) -- sports yêu thích
		;WITH cte AS(
					 SELECT *,ROW_NUMBER() OVER (PARTITION BY UID,[FriendUid] ORDER BY stt DESC) AS rn
					 FROM #temp7
					)
		SELECT * into #sports FROM cte WHERE rn = 1
		drop table #temp7

		/*********************************************************************/

	select  fr.UID, fr.[FriendUid] , fr.first_name,fr.last_name , fr.name , fr.mobile_phone ,fr.birthday , fr.email , fr.gender ,
		lo.name as location,
		fr.age_range.value('(/age_range/min)[1]', 'nvarchar(2)') age_max,
		fr.hometown.value('(/Hometown/name)[1]', 'nvarchar(100)') Hometown,
		fr.interested_in.value('(/ArrayOfString)[1]', 'nvarchar(100)') interested_in, --quan tâm 
		fr.is_verified,-- đã được xác minh
		dev.hardware,dev.os,
		ed.[type] as Bac_He,ed.[name] as Ten_Truong,fath.name as ThanTuong,
		teams.name as Nhom_ThanTuong,
		sp.name as sports,
		link, locale, political, quotes, relationship_status, religion,  third_party_id, website
	from FbFriend fr left join #location lo on  fr.[FriendUid]= lo.FriendUid and fr.UID= lo.UID
					 left join #devices dev on  fr.[FriendUid]=dev.[FriendUid] and fr.UID= lo.UID
					 left join #education ed on fr.FriendUid=ed.[FriendUid] and fr.UID= ed.UID
					 left join #favorite_athletes fath on fr.FriendUid=fath.[FriendUid] and fr.UID= fath.UID
				     left join #favorite_teams teams on fr.FriendUid=teams.[FriendUid] and fr.UID= teams.UID
					 left join #sports sp on fr.FriendUid=sp.[FriendUid] and fr.UID= sp.UID
	
--select * from FbFriend

end





GO
/****** Object:  StoredProcedure [dbo].[spExportLike]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spExportLike]
	@uid varchar(30) = null
AS
BEGIN
DECLARE @NAMES NVARCHAR(max)
	;WITH cte AS(
	select uid,name from FbUID
	union 
	select uid,name from FbGUI
	union
	select uid,name from FbPage
	)
	SELECT * into #fbUID  FROM cte
	WHERE (UID = @uid or @uid is null)

	
	SELECT DISTINCT c1.uid, c1.feedid, 
		STUFF(( SELECT  '; uid=' +c2.UID +' - '+ c2.name
                    FROM    FbLike c2
                    WHERE   c1.feedid = c2.feedid and
							c1.UID= c2.UID
                          
                  FOR
                    XML PATH('')
                  ), 1, 1, '') AS listLike into #FbLike
	FROM FbLike c1 inner join FbFeed fee on c1.feedid= fee.feedid
				   inner join FbLike lik on fee.feedid=lik.feedid


	select fee.UID,a.name as Nameuid, fee.feedid, fee.[from], fee.message, fee.message_tags, fee.with_tags, fee.story, fee.story_tags, 
	fee.picture, fee.link, fee.name, fee.description, fee.actions, fee.privacy, fee.type, fee.status_type, fee.object_id, fee.created_time, 
	fee.update_time, fee.is_hidden, fee.is_expired, fee.likes, fee.comments,
	b.listLike as username_like
	from #fbUID a inner join FbFeed fee on a.UID= fee.UID
				  inner join #FbLike b on fee.feedid=b.feedid and b.uid=a.UID

end





GO
/****** Object:  StoredProcedure [dbo].[spExportUID]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[spExportUID]
	@uid varchar(30) = null
AS
BEGIN
	
	select uid as uid_of_main,
		   name as name_of_main,
	[age_ranges].value('(/age_range/min)[1]', 'nvarchar(2)') age_of_main,
	--TabEdu.ColEdu.value('id[1]', 'nvarchar(20)') as id,
    TabEdu.ColEdu.value('type[1]', 'nvarchar(200)') as type_educations_of_main,
	TabEdu.ColEdu.value('(school[1]/name)[1]', 'nvarchar(200)') as School_of_main,
	[location].value('(/location/name)[1]', 'nvarchar(100)') QueQuanof_main,
	mobile_phone, birthday, gender, locale, relationship_status, currency, email,
	TabWork.ColWork.value('start_date[1]', 'nvarchar(200)') as start_date_Congtac,
	TabWork.ColWork.value('(employer[1]/name)[1]', 'nvarchar(200)') as NoiCongTac into #FbUID
	from dbo.FbUID yt 
			CROSS APPLY yt.educations.nodes('ArrayOfEducation/education') TabEdu(ColEdu) 
			CROSS APPLY yt.work.nodes('ArrayOfWork/work') TabWork(ColWork) 

	select UID,
		[FriendUid] , first_name,last_name , name , mobile_phone ,birthday , email , gender 
	from FbFriend fr


--select * from FbUID

end





GO
/****** Object:  StoredProcedure [dbo].[spLoadToken]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spLoadToken]
@isShowAll bit =null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET DATEFORMAT DMY
	

	DECLARE @fbLimitCallApi int;
	select top 1 @fbLimitCallApi= sysLimitCallApi from CauHinh

	update FbAccount set IsAct=1
	update FbAccount set IsAct=0 where (token is null or token ='')

	update FbAccount
	set IsAct =0
	where account in(select account
					 from FbLog
				     where Convert(date,create_date) = CONVERT(date, GETDATE())
					 GROUP BY account
					 HAVING COUNT(account) > @fbLimitCallApi)

	

	select a.*,dagoi=isnull((select count(*)
					 from FbLog
				     where create_date = CONVERT(date, GETDATE())
					 and FbLog.account= a.account
					 GROUP BY account
					 ),0),
			conlai=0,
			gioihan=@fbLimitCallApi 

	into #FbAccount from FbAccount a

	

	update #FbAccount
	set conlai = isnull(gioihan,0)-isnull(dagoi,0)

	select ROW_NUMBER() OVER (Order by createdate) AS stt,* 
	from #FbAccount
	where (@isShowAll is null) or IsAct = @isShowAll
	order by dagoi desc

	


	

end

GO
/****** Object:  StoredProcedure [dbo].[spLocTrungNhomUID]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[spLocTrungNhomUID] null
CREATE PROCEDURE [dbo].[spLocTrungNhomUID]
@ParentId uniqueidentifier
AS
BEGIN
	/*dọn dep dữ liệu dm_hscty*/
	
	
	/*--------------don dep cac ky tự xuống dòng-----------------*/
	

	/*************************************************************************************************
	/*dọn dep hồ sơ công ty*/       
	*************************************************************************************************/
	;WITH cte AS
	(
		SELECT *,
	    ROW_NUMBER() OVER (PARTITION BY [UID] ORDER BY createdate DESC) AS rn
		FROM [dbo].[NhomUID]
		WHERE ParentId =@ParentId
	)
	SELECT * into #danhsachtrung
	FROM cte
	WHERE rn = 1
	
	delete from [dbo].[NhomUID] WHERE ParentId =@ParentId

	Insert into [dbo].[NhomUID](ParentId, Name, UID, URD, Note, IsActi, IsLoai, OrderID)
	select ParentId, Name, UID, URD, Note, IsActi, IsLoai, OrderID
	from #danhsachtrung
	
end




GO
/****** Object:  StoredProcedure [dbo].[spToken]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spToken]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET DATEFORMAT DMY
	

	DECLARE @fbLimitCallApi int;
	DECLARE @fbtoken NVARCHAR(4000);
	select top 1 @fbLimitCallApi= sysLimitCallApi from CauHinh

	update FbAccount set IsAct=1
	update FbAccount set IsAct=0 where (token is null or token ='')

	update FbAccount
	set IsAct =0
	where account in(select account
					 from FbLog
				     where Convert(date,create_date) = CONVERT(date, GETDATE())
					 GROUP BY account
					 HAVING COUNT(account) > @fbLimitCallApi)


	 --select @fbtoken = token from FbAccount where IsAct=1  order by createdate
     --select @fbtoken
	 select *,sl= (select count(*) from FbLog b where a.account =b.account and Convert(date,create_date) = CONVERT(date, GETDATE())) ,maxx =@fbLimitCallApi
	 from FbAccount a 
	 where IsAct=1  
	 order by  (select count(*) from FbLog b where a.account =b.account) desc

	


end

GO
/****** Object:  StoredProcedure [dbo].[spXuatFile]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spXuatFile]
	@uid varchar(30) = null
AS
BEGIN
	
	select uid as uid_of_main,
		   name as name_of_main,
	[age_ranges].value('(/age_range/min)[1]', 'nvarchar(2)') age_of_main,
	--TabEdu.ColEdu.value('id[1]', 'nvarchar(20)') as id,
    TabEdu.ColEdu.value('type[1]', 'nvarchar(200)') as type_educations_of_main,
	TabEdu.ColEdu.value('(school[1]/name)[1]', 'nvarchar(200)') as School_of_main,
	[location].value('(/location/name)[1]', 'nvarchar(100)') QueQuanof_main,
	mobile_phone, birthday, gender, locale, relationship_status, currency, email,
	TabWork.ColWork.value('start_date[1]', 'nvarchar(200)') as start_date_Congtac,
	TabWork.ColWork.value('(employer[1]/name)[1]', 'nvarchar(200)') as NoiCongTac into #FbUID
	from dbo.FbUID yt 
			CROSS APPLY yt.educations.nodes('ArrayOfEducation/education') TabEdu(ColEdu) 
			CROSS APPLY yt.work.nodes('ArrayOfWork/work') TabWork(ColWork) 

	select UID,
		[FriendUid] , first_name,last_name , name , mobile_phone ,birthday , email , gender 
	from FbFriend fr


--select * from FbUID

end





GO
/****** Object:  StoredProcedure [dbo].[spXuatFileNhanhPhoneEmail]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[spXuatFileNhanhPhoneEmail]'100002536472798'
--[spXuatFileNhanhPhoneEmail] "'100002536472798','100002536472798','100002536472798'"
CREATE PROCEDURE [dbo].[spXuatFileNhanhPhoneEmail] 
	@UID nvarchar(50)
AS
BEGIN
	
	select	isnull(message,'') +' '+ 
			isnull([from].value('(/from/mobile_phone)[1]', 'nvarchar(20)'),'')  +' '+
			isnull([from].value('(/from/email)[1]', 'nvarchar(20)'),'')
			as [message],'' as phone, '' as email from FbComments where uid=@UID
	union all
	select	distinct isnull(message,'') +' '+ 
					 isnull([from].value('(/from/mobile_phone)[1]', 'nvarchar(20)'),'') +' '+
					 isnull([from].value('(/from/email)[1]', 'nvarchar(100)'),'') +' '+
					 isnull(story,'') +' '+ 
					 isnull(name,'') +' '+ 
					 isnull(description,'') as [message] , '' as phone, '' as email from FbFeed where uid=@UID
	union all
	select distinct isnull(mobile_phone,'')  + '' +
					isnull(email,'') as [message], '' as phone, '' as email from FbFriend where uid=@UID
	union all
	select distinct isnull(email,'')  + '' +
					isnull(description,'') as [message], '' as phone, '' as email from FbGUI where uid=@UID
	union all
	select distinct isnull(name,'')  + '' +
					isnull(about,'') as [message], '' as phone, '' as email from FbPage where uid=@UID
end






GO
/****** Object:  StoredProcedure [dbo].[spXuatFileNhanhUID]    Script Date: 5/13/2018 3:56:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spXuatFileNhanhUID]
	@uid varchar(30) = null
AS
BEGIN
	select FriendUid as UID, name from FbFriend where (UID=@uid or @uid =null)
	union
	select	[from].value('(/from/id)[1]', 'nvarchar(30)') UID,
			[from].value('(/from/name)[1]', 'nvarchar(200)') name
	from FbComments a where (UID=@uid or @uid =null)
	union 
	select likeid as UID, name from FbLike where (UID=@uid or @uid =null)


		
end





GO
USE [master]
GO
